@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to FreezingSeries</h1>
    <p class="lead">Enjoy your stay!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("List of series", "Index", "Series")</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("List of actors", "Index", "Actors")</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("List of genre", "Index", "Genres")</p>
    </div>
</div>